.gray-title {
  font-size: 16pt;
  font-weight: 600;
  color: #666666;
  margin-bottom: 15px;
}

.text-input {
  width: 350px;
  height: 32px;
  padding-left: 10px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #ffffff #aaaaaa #aaaaaa #ffffff;
  margin-bottom: 30px;
  margin-right: 15px;
  margin-left: -15px;
}

.dropdown-box {
  width: 200px;
  height: 32px;
  padding-left: 10px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #aaaaaa;
  margin-bottom: 25px;
  margin-right: 15px;
}

.n-item-selected {
  background-color: #eef5ff;
  padding-top: 4px;
  padding-left: 20px;
  margin-top: -16px;
  height: 40px;
  font-size: 14pt;
  font-weight: 600;
  color: #2f85fa;
}

.delete-select-item {
  background-color: transparent;
  outline: transparent;
  border: transparent;
  position: absolute;
  right: 60px;
  padding-top: 2px;
  color: rgb(204, 5, 5);
  font-size: 12pt;
  font-weight: 600;
}

.pagination {
  display: inline-block;
  position: absolute;
  right: 15px;
  margin-top: 15px;
}

.pagination a {
  color: black;
  float: left;
  padding: 3px 10px;
  text-decoration: none;
  border: 1px solid #ddd;
  height: 32px;
  width: 32px;
  justify-content: center;
}

.pagination a.active {
  background-color: #ddd;
  color: #888;
  border: 1px solid #ddd;
}

.pagination a:not(.active) {
  background-color: #fff;
  color: #2f85fa;
}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

th {
  font-size: 14pt;
  font-family: "Segoe UI";
  font-weight: 400;
  color: #666666;
}

td {
  font-size: 14pt;
  font-family: "Segoe UI";
  font-weight: 600;
  color: #666666;
}

table td:nth-child(1) {
  text-align: center;
}

table td:nth-child(2) {
  text-align: end;
}

table td:nth-child(7) {
  text-align: center;
  color: rgb(204, 5, 5);
}

.delete-column-button {
  background-color: transparent;
  outline: transparent;
  border: transparent;
  color: rgb(204, 5, 5);
}
