<div style="width: 80%; margin-left: 10%">
  <div class="row" style="margin-top: -15px">
    <div class="col-2 border-right">
      <sidebar screenName="project-name"></sidebar>
    </div>

    <div class="col-9" style="margin-top: 50px; margin-left: 50px">
      <div class="row border-bottom">
        <span class="gray-title">{{ "projects-list" | translate }}</span>
      </div>

      <span style="margin-left: -15px">
        <span>
          <form [formGroup]="searchForm" (ngSubmit)="searchProject()">
            <input
              class="text-input"
              type="text"
              formControlName="searchText"
              placeholder="{{ 'search-placeholder' | translate }}"
            />
            <select class="dropdown-box" formControlName="searchStatus">
              <option value=""></option>
              <option value="NEW">{{ "New" | translate }}</option>
              <option value="PLA">{{ "Planned" | translate }}</option>
              <option value="INP">{{ "In progress" | translate }}</option>
              <option value="FIN">{{ "Finished" | translate }}</option>
            </select>

            <button class="btn-grad" (click)="searchProject()">
              {{ "search-project" | translate }}
            </button>

            <input
              class="link-small-blue"
              type="reset"
              value="{{ 'reset-search' | translate }}"
              (click)="resetProject()"
            />
          </form>
        </span>

        <div style="background-color: white; margin-left: -15px">
          <table class="table table-bordered border-bottom">
            <thead class="thead-white" style="height: 32px">
              <tr>
                <th scope="col" style="width: 4%"></th>
                <th scope="col" style="width: 7%">
                  {{ "number" | translate }}
                </th>
                <th scope="col" style="width: 31%">{{ "name" | translate }}</th>
                <th scope="col" style="width: 14%">
                  {{ "status" | translate }}
                </th>
                <th scope="col" style="width: 22%">
                  {{ "customer" | translate }}
                </th>
                <th scope="col" style="width: 16%">
                  {{ "start-date" | translate }}
                </th>
                <th scope="col" style="width: 6%">
                  {{ "delete" | translate }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pj of projects$ | async">
                <td>
                  <input
                    type="checkbox"
                    style="width: 15px; height: 15px"
                    id="{{ pj.projectNumber }}checkbox"
                    (change)="changedCheckbox(pj.projectNumber, $event.target.checked)"
                  />
                </td>
                <td>
                  <a
                    routerLink="/pim/edit/{{ pj.projectNumber }}"
                    style="color: #666666"
                    >{{ pj.projectNumber }}</a
                  >
                </td>
                <td>{{ pj.name }}</td>
                <td>{{ pj.status | statusPipe | translate }}</td>
                <td>{{ pj.customer }}</td>
                <td>{{ pj.startDate | date: "dd.MM.yyyy" }}</td>
                <td>
                  <button
                    class="delete-column-button"
                    *ngIf="pj.status == 'NEW'"
                    (click)="deleteProject(pj.projectNumber)"
                  >
                    <span class="material-icons"> delete </span>
                  </button>
                </td>
              </tr>
              <span></span>
            </tbody>
          </table>

          <div class="n-item-selected border" *ngIf="checkedPjNum.length > 1">
            {{ "n-items-selected" | translate: { n: checkedPjNum.length } }}
            <button class="delete-select-item" (click)="deleteCheckedProject()">
              <div>
                <span style="padding-right: 10px">
                  {{ "delete-selected-items" | translate }}
                </span>
                <span class="material-icons" style="position: absolute">
                  delete
                </span>
              </div>
            </button>
          </div>

          <div class="n-item-selected border" *ngIf="checkedPjNum.length == 1">
            {{ "1-item-selected" | translate: { n: checkedPjNum.length } }}
            <button class="delete-select-item" (click)="deleteCheckedProject()">
              <div>
                <span style="padding-right: 10px">
                  {{ "delete-selected-item" | translate }}
                </span>
                <span class="material-icons" style="position: absolute">
                  delete
                </span>
              </div>
            </button>
          </div>
        </div>

        <div class="pagination">
          <a href="">&laquo;</a>
          <a class="active" href="#">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">&raquo;</a>
        </div>
      </span>
    </div>
  </div>
</div>
