@import "src/styles/variables";

.gray-title {
  font-size: 16pt;
  font-weight: 600;
  color: $pim-gray6;
  margin-bottom: 15px;
}

.text-input {
  width: 350px;
  height: 32px;
  padding-left: 10px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #ffffff #aaaaaa #aaaaaa #ffffff;
  margin-bottom: 30px;
  margin-right: 15px;
  margin-left: -15px;
}

.dropdown-box {
  width: 200px;
  height: 32px;
  padding-left: 10px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #aaaaaa;
  margin-bottom: 25px;
  margin-right: 15px;
}

.n-item-selected {
  background-color: #eef5ff;
  padding-top: 4px;
  padding-left: 20px;
  margin-top: -16px;
  height: 40px;
  font-size: 14pt;
  font-weight: 600;
  color: $pim-blue;
}

.delete-select-item {
  background-color: transparent;
  outline: transparent;
  border: transparent;
  position: absolute;
  right: 60px;
  padding-top: 2px;
  color: rgb(204, 5, 5);
  font-size: 12pt;
  font-weight: 600;
}

.pagination {
  
  display: inline-block;
    position: absolute;
    right: 15px;
    margin-top: 15px;
    margin-bottom: 100px; 
  
  ::ng-deep {
    .ngx-pagination {

      .disabled {
        color: $pim-graya;
      }
      .pagination-previous{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      } 
      .pagination-next{
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        a {
          padding-left: 2px;
        }
        .disabled::after {
          margin-left: 0px !important;
        }
      }
    }
    
    li {
      border: 0.25px solid $pim-grayd;
      height: 32px;
      width: 32px;
      background-color: white; 
      color: $pim-blue;
      margin: 0;
    }
    li.current {
      background-color: $pim-grayd;  
      color: $pim-gray6;
    }
    
  }
}

.table-sort-button {
  padding: 0px;
  width: 100%;
  text-align: left;
  color: $pim-gray6;
  background-color: white;
  outline: transparent;
  border: transparent;

}

th {
  font-size: 14pt;
  font-family: "Segoe UI";
  font-weight: 400;
  color: $pim-gray6;
}

td {
  font-size: 14pt;
  font-family: "Segoe UI";
  font-weight: 600;
  color: $pim-gray6;
}

.table th {
  height: 32px;
  padding-top: 0px;
  padding-bottom: 0px;
}

table td {
  &:nth-child(1) {
    text-align: center;
  }

  &:nth-child(2) {
    text-align: end;
  }

  &:nth-child(6) {
    text-align: center;
  }

  &:nth-child(7) {
    text-align: center;
    color: rgb(204, 5, 5);
  }
}

.delete-column-button {
  background-color: transparent;
  outline: transparent;
  border: transparent;
  color: rgb(204, 5, 5);
}
