<div class="table error-div">
  <div class="row" style="width: 50%">
    <div class="col-4">
      <img
        class="red-cross"
        src="../../../../assets/img/red-x.webp"
        alt="Italian Trulli"
      />
    </div>
    <div class="col-8 error-text">
      <div>{{'error-screen-line1' | translate}}</div>
      <div>
        <!-- {{bService.error?.message|async}} -->
        <!-- {{ this.broadcastService.msg | async }} -->
        Lorem ipsum dolor sit amet
      </div>
      <div>{{'error-screen-line2' | translate}}</div>
    </div>
  </div>
</div>
