<div class="table error-div">
  <div class="row" style="width: 50%">
    <div class="col-4">
      <img
        class="red-cross"
        src="../../../../assets/img/red-x.webp"
        alt="Italian Trulli"
      />
    </div>
    <div class="col-8 error-text">
      <div>{{'error-screen-line1' | translate }}</div>
      <div class="error-message">
        {{ broadcastService.err.value.status }} {{ broadcastService.err.value.statusText }}
      </div>
      <div class="error-message">
        {{ broadcastService.err.value.name }}
      </div>
      <div class="error-message">
        {{ broadcastService.err.value.message }}
      </div>
      <div>
        <span>
          {{'error-screen-line2.1' | translate}} 
        </span>
        <span class="error-text-red">
          {{'error-screen-line2.2' | translate}}
        </span>
      </div>
      <div>
        <span>
          {{'error-screen-line3.1' | translate}}
        </span>
        <button class="transparent" routerLink="/">
          <span class="error-text-blue">
            {{'error-screen-line3.2' | translate}}
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
