<div id="sidebar">
  <button class="link-big" type="button" routerLink="/pim/list">
    {{ "projects-list" | translate }}
  </button>
</div>
<div>
  <span class="link-button">{{ "new" | translate }}</span>
</div>
<div>
  <button class="link-small-gray" type="button" routerLink="/pim/new">
    {{ "project" | translate }}
  </button>
</div>
<div>
  <button class="link-small-gray" disabled>{{ "customer" | translate }}</button>
</div>
<div>
  <button class="link-small-gray" disabled>{{ "supplier" | translate }}</button>
</div>
